@import "tailwindcss";

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


html,body, #root{
  width: 100%;

color: white;

}



@font-face {
  font-family: 'Galiscka';
  src: url('../src/assets/GALISCKA\ Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Galiscka', sans-serif;
}
